@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
.App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.registerUser {
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  background-color: rgba(121, 0, 0, 1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 260px;
}

.registerLeft {
  align-items: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-img-top {
  margin-top: 5%;
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.image-head {
  width: 100%;
  height: 150px;
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}
body {
  font-family: "Bangers", cursive;
}
p,
.letrarojo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.letrarojo {
  color: rgba(121, 0, 0, 1);
  font-size: 16px;
  margin-left: 15px;
}
.letrarating {
  color: rgba(121, 0, 0, 1);
  font-size: 42px;
  margin-left: 10px;
}

.tituloficha {
  color: white;
  margin-left: 15px;
  font-size: 48px;
  margin-top: 10px;
  justify-content: center;
}

.navbar,
.webcomicfondo,.colorfooter {
  background: rgba(121, 0, 0, 1);
  background: -moz-linear-gradient(
    left,
    rgba(121, 0, 0, 1) 0%,
    rgba(212, 42, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(121, 0, 0, 1)),
    color-stop(100%, rgba(212, 42, 0, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(121, 0, 0, 1) 0%,
    rgba(212, 42, 0, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(121, 0, 0, 1) 0%,
    rgba(212, 42, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(121, 0, 0, 1) 0%,
    rgba(212, 42, 0, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(121, 0, 0, 1) 0%,
    rgba(212, 42, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#790000', endColorstr='#d42a00', GradientType=1 );
}
.nav-link {
  color: white !important;
  font-family: "Bangers", cursive;
}
.navbar-brand {
  color: white !important;
  font-family: "Bangers", cursive;
}
.containerSmall {
  margin-top: 50px;
}
.containerexpositor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 60%;
  margin: 4% 80%;
  justify-content: space-between;
  align-items: flex-end;
}
.SmallComic-image {
  width: 200px;
  height: 320px;
  margin-right: 40px;
  align-self: flex-end;
}
.SmallComic-h5,
.SmallComic-title {
  text-align: left !important;
  margin-top: 10px;

  width: 150px;
}

.w-33 {
  width: 33% !important;
}

.colizq {
  margin-top: 10%;
}

.colder {
  margin-top: 5%;
  width: 33%;
  background-color: lightgrey;
}
.colder-peq {
  width: 100%;
  background-color: lightgrey;
}

.searchbar {
  width: 80%;
  margin: 4% auto;
}

.searchercillo {
  width: 80%;
  margin: 4% auto;
}

.dlk-radio input[type="radio"],
.dlk-radio input[type="checkbox"] {
  margin-left: -99999px;
  display: none;
}
.dlk-radio input[type="radio"] + .fa,
.dlk-radio input[type="checkbox"] + .fa {
  opacity: 0.15;
}
.dlk-radio input[type="radio"]:checked + .fa,
.dlk-radio input[type="checkbox"]:checked + .fa {
  opacity: 1;
}

.negrita {
  color: black !important;
}

.card-unpocomargin {
  margin-top: 15%;
}
.card-margen10 {
  margin-top: 5%;
}

.badge-pill {
  margin: 0 1%;
}

.webcomicp {
  text-align: justify;
  margin-top: 15px;
  letter-spacing: -1px;
}

.logo {
  height: 120px;
}
.navbarmod {
  height: 70px;
}
.nav-item {
  margin-top: 5px;
}
#rojito {
  background-color: rgba(121, 0, 0, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  justify-content: space-between;
}

#grisaceo1 {
  background-color: #948c8c;
  height: 85%;
  padding-top: 10px;
}
#grisaceo2, .elementos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.comiccontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 95%;
  margin: 4% 2%;
  justify-content: space-between;
}
.estrellitafav {
  width: 40px;
  margin: 20px 10px;
}

#grisizquierda {
  padding-top: 20px;
  padding-left: 20px;
  width: 70%;
}
#grisderecha {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30%;
  justify-content: space-between;
  padding: 0 0 0 1%;
}
.comicimage {
  width: 350px;
}
.rojo {
  background-color: rgba(121, 0, 0, 1);
  color: white;
  font-size: 30px;
}
.amarillo {
  background-color: #ddb505;
  color: white;
  font-size: 30px;
}
.imagerating {
  width: 50%;
  margin-top: 30px;
}
.imageAmazon {
  width: 270px;
}
.descripcionComic {
  margin-top: 50px;
}


.containerSmall2 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 60%;
}
.containerexpositor2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
  
  
}
.SmallComic-image2 {
  width: 200px;
  height: 320px;
  margin-right: 40px;
  
}
.SmallComic-h5,
.SmallComic-title {
  text-align: left !important;
  margin-top: 10px;
}

.containerbiblioteca{
  margin-left:40px
}